################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alhamd/bin
/Alhamd/obj
/.vs/ALHAMD/config/applicationhost.config
/.vs/ALHAMD/DesignTimeBuild/.dtbcache.v2
/.vs/ALHAMD/FileContentIndex/1e0a631a-b62a-4eec-919f-4be3eac3a162.vsidx
/.vs/ALHAMD/v17/DocumentLayout.backup.json
/.vs/ALHAMD/v17/DocumentLayout.json
