
<h2 style="text-align:center; margin-top:40px;" class="text-secondary text-uppercase"><i class="fa fa-minus fa-1x  text-primary"></i> Inquiry Portal</h2>
<h1 style="color:#c9302c; text-align:center;margin:30px;" > Coming Soon...</h1>




