@{

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<!-- About Start -->
<div class="container overflow-hidden py-1 px-lg-0">
    <div class="">
        <div class="row g-5 mx-lg-0 mt-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="position-relative h-100">

                    <h4 class="text-secondary text-uppercase "> <i class="fa fa-map-marker-alt fa-2x  text-primary"></i> Location</h4>
                    <h1 class="mb-1">Where Global Trade Meets Seamless Efficiency</h1>
                    <img class=" w-100 h-100" src="~/img/location1.png" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp align-content-center" data-wow-delay="0.3s">
               

                <br />
                <br />
                <br />

                <p class="text-justify">
                   
                    <ul class="mt-lg-5">
                        <li>In close proximity to Karachi Customs House.</li>
                        <li>10 to 15 minutes drive from East & West wharf.</li>
                        <li>In the heart of Pakistan's biggest industrial zone (S.I.T.E.)</li>
                        <li>Next to the new truck stand at Hawksbay road and closely located to the RCD highway, Super Highway and the future Lyari Bypass.</li>
                    </ul>

                <p>Plot No. 28 O & L Trans Liyari Quarters, Hawksbay Road, Opp. New Truck Stand, Near PAF Base Masroor, Karachi-Pakistan. UAN: (92-21) 111-000-176, (32373281-5) Fax: (92-21) 32373274</p></p>
        </div>
        </div>
    </div>
</div>
<!-- About End -->
