<head>

<link href="~/css/style.css" rel="stylesheet" />
</head>

<div class="row p-5">
    <div class="col-md-6 p-5 wow fadeInLeft" data-wow-delay="0.1s">
        <img src="~/img/qualitypolicy.png" class="w-100 h-100" />
    </div>

    <div class="col-md-6 p-1  text-justify align-content-center  wow fadeInUp" data-wow-delay="0.3s">
        <h4 class="text-secondary text-uppercase text-left m-1"><i class="fa fa-minus fa-1x  text-primary"></i> Quality Policy</h4>

        <p style="text-align:justify">Al-Hamd International Container Terminal is a common user off-dock facility dedicated to providing efficient and competitively priced services for handling of import and export cargo containers. AICT's mission is to offer superior services exceeding customer expectations consistently.</p>

        <strong>  To achieve the above, AICT Management is committed to: </strong>

        <ol style="list-style-type:circle !important; text-align:justify">
            <li>Comply with all Customers and Statutory requirements.</li>
            <li>Continually strive to improve the AICT Quality Management System (QMS) to ensure improved effectiveness.</li>
            <li>Establish Quality Objectives at relevant levels and functions within the organization.</li>
            <li>Take appropriate actions based on constructive internal and external feedback.</li>
        </ol>
        <strong>
        <p>Through the effective application of the QMS, AICT aims to enhance customer and employee satisfaction.</p>
        </strong>
    </div>
    
</div>
