
<body>


    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px; /* Adjust the gap between images if needed */
        }

            .image-container img {
                width: 250px; /* Set the desired width */
                height: 250px; /* Set the desired height */
                object-fit: cover; /* Ensure images cover the area without distortion */
                /* Optionally, you can use object-fit: contain; if you want to fit the images inside the box without cropping */
            }
    </style>

    <hr />
    <h2 class="text-center text-warning">Storage Pictures</h2>
    <hr />
    <div class="image-container">

        <img src="~/aict_gallery/storagepics/storage1.jpg" />
        <img src="~/aict_gallery/storagepics/storage2.jpg" />
        <img src="~/aict_gallery/storagepics/storage3.jpg" />
        <img src="~/aict_gallery/storagepics/storage4.jpg" />
        <img src="~/aict_gallery/storagepics/storage5.jpg" />
        <img src="~/aict_gallery/storagepics/storage6.jpg" />
        <img src="~/aict_gallery/storagepics/storage7.jpg" />
        <img src="~/aict_gallery/storagepics/storage8.jpg" />
        <img src="~/aict_gallery/storagepics/storage9.jpg" />
        <img src="~/aict_gallery/storagepics/storage10.jpg" />
        <img src="~/aict_gallery/storagepics/storage11.jpg" />
        <img src="~/aict_gallery/storagepics/storage12.jpg" />
        <img src="~/aict_gallery/storagepics/storage13.jpg" />
        <img src="~/aict_gallery/storagepics/storage14.jpg" />
        <img src="~/aict_gallery/storagepics/storage15.jpg" />
        <img src="~/aict_gallery/storagepics/storage16.jpg" />

    </div>







    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>