
<body>



    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px; /* Adjust the gap between images if needed */
        }

            .image-container img {
                width: 250px; /* Set the desired width */
                height: 250px; /* Set the desired height */
                object-fit: cover; /* Ensure images cover the area without distortion */
                /* Optionally, you can use object-fit: contain; if you want to fit the images inside the box without cropping */
            }
    </style>


    <hr />
    <h2 class="text-center text-warning">WareHouse Pictures</h2>
    <hr />
    <div class="image-container">
        <img src="~/aict_gallery/warehousepics/warehouse1.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse2.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse3.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse4.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse5.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse6.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse7.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse8.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse9.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse10.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse11.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse12.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse13.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse14.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse15.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse16.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse17.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse18.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse19.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse20.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse21.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse22.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse23.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse24.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse25.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse26.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse27.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse28.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse29.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse30.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse31.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse32.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse33.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse34.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse35.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse36.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse37.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse38.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse39.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse40.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse41.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse42.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse43.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse44.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse45.jpg" />
        <img src="~/aict_gallery/warehousepics/warehouse46.jpg" />

    </div>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>